[*]
    indent_style    = space
    indent_size     = 2

[*.py]
    indent_size     = 4
    max_line_length = 79
    insert_final_newline = True

[*.json]
    indent_style    = space
    indent_size     = 2

[{Makefile,**.mk}]
    indent_style = tab
    indent_size = 4

[**.yml]
    indent_size = 2 